body{
    margin: 0% auto;
    background-color:slategrey;
}
nav{
    margin: 20px 500px 20px;
}
main, header{
    padding: 30px;
}
footer{
    background-color:black;
    padding: 20px 20px 20px;
}
section{
    background-color:grey;
    box-shadow: 5px 5px 10px;
}
header{
    background-color: darkslategray;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color:cornflowerblue;
}
article{
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-color: black;
}
h1{
    margin: 10px 550px 10px;
}
#abas{
    padding: 16px 16px 16px;
    background-color: steelblue;
    font-style: initial;
    border-radius: 10%;
    box-shadow: 0px 0px 10px #00008b;
}
#abas:hover{
    background-color: darkslategrey;
    box-shadow: 0px 0px 1px #00008b;;
}
.imgconteudo{
    width: 300px; height: 300px;
    margin: 10px 10px 10px;
}
